<h2>Employee Salaries for the month</h2>
<form (ngSubmit)="calculateSalaries()">
    <button id="calculate-btn" class="btn btn-defalt" type="submit"><strong>Calculate Salary!</strong></button>
</form>
<p><br></p>
<p class="p-wc">Click on the Calulate button above to calculate salaries for the month</p>
<div [ngSwitch]="loading">
  <div *ngSwitchCase="false">
<div class="table-responsive">
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Salary</th>
    </tr>
    <tr *ngFor="let salary of salaries" wc-salary-data [salary]="salary">
    </tr>
</table>
</div>
</div>
  <div *ngSwitchCase="true">
    <div class="loader-container">
      <h4>Getting Salaries..</h4>
      <loading-indicator></loading-indicator>
    </div>
  </div>
</div>
