<form class="form" (ngSubmit)="onSubmit(f)" #f=ngForm>
    <input type="text" name="name" [ngModel]="entry?.name" placeholder="Name">
    <input type="text" name="id" [ngModel]="entry?.id" placeholder="ID" required>
    <input type="text" name="date"  pattern="([1-9]|0[1-9]|1[0-9]|2[0-9]|3[01]).(3|03).2014" class="datepicker" title="For this month i.e. 3/2014 in form dd.mm.yyyy" [ngModel]="entry?.date" placeholder="Date eg. 23.3.2014">
    <input type="text" name="startTime" pattern="([01]?[0-9]|2[0-3]):(00|15|30|45)" title="24h format. hh:mm. Rounded to nearest 15 min." [ngModel]="entry?.startTime" placeholder="Start Time eg. 14:00" required>
    <input type="text" name="endTime" pattern="([01]?[0-9]|2[0-3]):(00|15|30|45)" title="24h format. hh:mm. Rounded to nearest 15 min." [ngModel]="entry?.endTime" placeholder="End Time eg. 3:00" required>
    <button class="btn btn-success" type="submit">Save</button>
    <button class="btn btn-danger" type="submit" (click)="onClear(f)"><i class="fa fa-ban" aria-hidden="true"></i> Cancel
</button>
</form>
